{{IMPORTS}}

export const key_map: { [key: string]: KeyMapValue } = {
{{KEY_MAP_ENTRIES}}
};

export const joins: { [key: string]: Joins } = {
{{JOIN_ENTRIES}}
};

export const main_table = '{{MAIN_TABLE}}';
export const schema = '{{SCHEMA}}';
